{%extends 'base.html'%}
{{super()}}
{%block content%}
<div class="login_form-wrapper">
    <form method="POST">
        {{login_form.reg_no(class="form-control",placeholder="Registration No")}}
        {{login_form.password(class="form-control",placeholder="Password")}}
        {{login_form.confirm_password(class="form-control",placeholder="Confirm Password")}}
        <p class="row mt-3">New user ? <a href="{{url_for('register')}}">Register</a></p>
        {{login_form.login(class="btn btn-secondary mt-3")}}
    </form>
</div>
{%endblock%}